# locks
Brewfile.lock.json

# managed
mac/bitbar/enabled/
node_modules/
tmux/plugins/
!tmux/plugins/tpm
ruby-install-0.7.0
chruby-0.3.9
scss-lint

# secrets
local/
logs/

# deprecated
z/.z
z/.z.*
zsh/.zinit
zsh/antibody

# cache + logs
.bash_history
.lesshst
.tox
.zcache
.zcompdump*
.zhistory
.zsh_history
.zshrc.zwc
*.log
